@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #0e0e1c;
}

.bg-body{
  background-color: #0e0e1c;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}


@layer components {
  .container {
    @apply mx-auto px-3 sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1296px] 3xl:max-w-[1650px];
  }
}